* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.background-image {
  /* background-color:brown; */
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;
  position: absolute;


}

img {
  width: 90%;
  height: auto;

}

.spot {

display: flex;
justify-content: center;
align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  background-color: yellowgreen;
  position: relative;
  right: 62%;
  top:200px;

  font-size: 40px;
  color: brown;
  border: 2px solid brown;
